.audio-features {
  margin-left: 20;
  margin-right: 20;
  max-width: 460;
}

.bar {
  height: 10px;
  width: 460px;
  background-color: #a5ed7c;
  border-radius: 3px;
  margin-top: -5;
  margin-bottom: 18;
}

.red {
  background-color: #ed7c7c;
}

.blue {
  background-color: #7cb3ed;
}

.green {
  background-color: #a5ed7c;
}

.yellow {
  background-color: #edd87c;
}

.purple {
  background-color: #c37ced;
}

.orange {
  background-color: #edaf7c;
}

.teal {
  background-color: #7cede5;
}
