.topnav .search-container {
  float: right;
  height: 25;
  border-radius: 15px;
  text-align: right;
  position: relative;
  margin-top: -30;
}

.topnav input[type="text"] {
  border: none;
  width: 300;
  height: 25;
  border-radius: 15px;
  margin-right: 16px;
}

.topnav .search-container button {
  float: right;
  margin-right: 16px;
  background: #ddd;
  height: 25;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav .icon {
  display: none;
  margin-right: 32;
  color: white;
  margin-top: 20;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav .navlink {
  margin-top: 60;
  margin-left: 16;
  z-index: 1;
  color: white;
}

.topnav .logo {
  display: none;
  margin-top: 15;
  margin-left: 16;
}

@media screen and (max-width: 768px) {
  .topnav {
    overflow: hidden;
    background-color: #000;
    height: 60;
  }

  .topnav .search-container {
    display: none;
  }

  .topnav input[type="text"] {
    width: 90%;
  }

  .topnav.responsive .search-container {
    float: left;
    margin-top: 0;
    margin-left: 12;
    margin-right: 12;
    display: block;
    width: 100%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    height: 130;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .logo {
    float: left;
    display: block;
  }
}
