.topnav .search-container {
    float: right;
    height: 25;
    border-radius: 15px;
    text-align: right;
    position: relative;
    margin-top: -30;
  }
  
  .topnav input[type=text] {
    border: none;
    width: 300;
    height: 25;
    border-radius: 15px;
    margin-right: 16px;
  }
  
  .topnav .search-container button {
    float: right;
    margin-right: 16px;
    background: #ddd;
    height: 25;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .topnav .icon {
    display: none;
    margin-right: 32;
    color:white;
    margin-top: 20;
  }

  .topnav .logo {
    display: none;
    margin-top: 15;
    margin-left: 16;
  }

  @media screen and (max-width: 768px) {
    .topnav {
      overflow: hidden;
      background-color: #000;
      height: 60;
    }

    .topnav .search-container {
      display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .topnav .logo {
      float: left;
      display: block;
    }
  }