{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <div class="row">
    <div class="album-art-container">
      <img class="album-art" src="{{ track['album_art']['url'] }}" alt="" />
    </div>
    <div class="track-basic-info">
      <h1 class="track-title">{{ track['name'] }}</h1>
      <h2 class="track-artist">
        {% for artist in track['artists'] %} {% if loop.index > 1 %} · {%
        endif%} {{ artist }} {% endfor %}
      </h2>
      <h4 class="track-album">
        {{ track['album'] }} · {{ track['release_date'] }}
      </h4>
    </div>
  </div>

  <div class="audio-info-container row-flex">
    <div class="column audio-analysis" style="margin-left: -10;">
      <h2>Audio Analysis</h2>
      <div class="row row-flex" style="margin-left: 0;">
        <div class="column-flex">
          <h1>{{ features['key'] }}</h1>
          <p style="color: #aaaaaa;">Key</p>

          <h1>{{ features['time_signature'] }}/8</h1>
          <p style="color: #aaaaaa;">Time Signature</p>

          <h1>{{ features['duration_ms'] }}</h1>
          <p style="color: #aaaaaa;">Duration</p>
        </div>
        <div class="column-flex">
          <h1>{{ features['mode'] }}</h1>
          <p style="color: #aaaaaa;">Mode</p>

          <h1>{{ features['tempo'] }}</h1>
          <p style="color: #aaaaaa;">Tempo (bpm)</p>

          <h1>{{ features['bars'] }}</h1>
          <p style="color: #aaaaaa;">Bars</p>
        </div>
      </div>
    </div>
    <div class="column audio-features">
      <h2>Audio Features</h2>

      <h6 class="dark-text">Acoustiness</h6>
      <div class="bar red" style="width: {{ features['acousticness'] * 100 }}%;"></div>

      <h6 class="dark-text">Danceability</h6>
      <div class="bar purple" style="width: {{ features['danceability'] * 100 }}%;"></div>

      <h6 class="dark-text">Energy</h6>
      <div class="bar yellow" style="width: {{ features['energy'] * 100 }}%;"></div>

      <h6 class="dark-text">Instrumentalness</h6>
      <div class="bar blue" style="width:{{ features['instrumentalness'] * 100 }}%;"></div>

      <h6 class="dark-text">Liveness</h6>
      <div class="bar green" style="width: {{ features['liveness'] * 100 }}%;"></div>

      <h6 class="dark-text">Valence</h6>
      <div class="bar orange" style="width: {{ features['valence'] * 100 }}%;"></div>

      <h6 class="dark-text">Speechiness</h6>
      <div class="bar teal" style="width: {{ features['speechiness'] * 100}}%;"></div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ajaxComplete(function () {
    // if ($("#acousticness").length != 0) {
      $("#acousticness").css("width", 50);
      $("#energy").css("width", 50);
    // }
  });

  // $(document).ready(function () {
  //   var val = 1;
  //   var entry1 = 3;

  //   $.getJSON({
  //     url: "/index",
  //     data: { entry2_id: val, entry1_id: entry1 },
  //     success: function (data) {
  //       $("#varID").html(data.var1);
  //     },
  //   });
  // });
</script>
{% endblock content %}
